<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />
    <!-- Display notifications as full screen activities on a locked device -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"
        tools:ignore="FullScreenIntentPolicy" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"
        tools:ignore="AdvertisingIdPolicy" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action
                android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.facebook.katana" />
    </queries>
    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.android.vending" />
        <package android:name="com.amazon.venezia" />
        <package
            android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.huawei.appmarket" />
    </queries>
    <application
        android:resizeableActivity="true"
        android:name=".BoxApplication"
        android:allowBackup="true"
        android:icon="@drawable/bear_logo"
        android:label="${randomName}"
        android:largeHeap="true"
        android:debuggable="false"
        android:roundIcon="@drawable/bear_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:debuggable,android:label"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">
    
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            tools:ignore="DiscouragedApi" />
        
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            android:theme="@style/AppTheme"
            tools:ignore="DiscouragedApi,Instantiatable" />

        <activity
            android:name=".activity.ModeActivity"
            android:screenOrientation="fullSensor"
            android:exported="false"
            android:theme="@style/AppTheme"
            tools:ignore="DiscouragedApi,Instantiatable" />

        
       <activity
            android:name=".activity.CrashActivity"
            android:launchMode="singleInstance"
            android:exported="true"/>





        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        
        <!-- Add missing stub provider to prevent runtime errors -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider.stub1"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
</manifest>
